body{
    font-family:'Londrina Solid'!important;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-borries-bussche-6338573.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.logo{
    font-family:'Londrina Outline';
    font-size:20vh !important;
}
