body, html {
    height: 100%;
font-family: 'Londrina Outline', cursive;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-borries-bussche-6338573.jpg");

  /* Set a specific height */
  height: 58%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top:20%;
  padding-bottom:20%;
}
h1{
/*font-size: 225px;*/
font-size:20vw;
padding-top:2.5rem;
}
h2{
/* font-size: 27px; */
font-size:4vw;
font-family: 'Londrina Solid', cursive;
padding-bottom:2.5rem;
}
p2{
font-size: 22px;
font-family: 'Londrina Solid', cursive;
}
p3{
font-size: 12px;
font-family: 'Londrina Solid', cursive;
}
h3{
/* font-size: 55px; */
font-size:4vw;
font-family: 'Londrina Solid', cursive;
}
.refreshbtn{
  font-size:3vw;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-bottom:100px;
}
button{
float:center;
padding: 10;
border-radius: 38px;
border: 0;
background: white;
font-family: 'Londrina Solid', cursive;
color: black;
box-shadow: 20px 20px 20px grey;
font-size: 25;
height: relative;
width: relative;
}
button2{
float:center;
font-family: 'Londrina Solid', cursive;
color: black;
font-size: 20;
cursor:pointer;
}
.container-fluid mt-5{
  margin-top:100px
}
.countdown{
  font-family: 'Londrina Solid';
  color:black;
  text-align:right;
  font-size:4rem;
}
#test{
  font-family: 'Londrina Solid';
  color:black;
  text-align:right;
  font-size:4rem;
}
